.main-grid .main-content.jt-flex-col {
    width: 100%;
    display: flex;
    flex-flow: column;
    article {
        // width: 90%;
        background-color: rgba(aliceblue, 0.5);
        border-radius: 5px;
        padding: 25px 15px;
        min-height: 70vh;

        h1 {
            text-align: center;
            margin-bottom: 44px;
        }

        .thulaImgContainer {
            margin: 0 auto 20px;
            width: 200px;
            height: 200px;
            // overflow: hidden;
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 400ms ease;
            svg {
                filter: drop-shadow( 0 0 0 $dark );
                transition: filter 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                g {
                    fill: $dark;
                    transition: fill 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                }
            }
            &:hover {
                svg {
                    filter: drop-shadow( 5px 5px 5px rgba($dark, 0.4));
                    g {
                        fill: lighten($dark, 10%);
                    }
                }
            }
        }
    }
}